header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    padding-top: 10px;

    background-color: #000000;
}

header a{
    font-family: Roboto;
    font-weight: bold;
    text-decoration: none;
    color: papayawhip;
    margin-left: 90px;

    font-size: 30px;
}

header a:hover{
    text-decoration: underline;
}