#contact{
    width: 100%;
    height: 519px;

    background-color: rgb(13, 13, 13);
    background-position: 50% 67%;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: aliceblue;
}

.footer-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-top h2{
    font-family: Roboto;
    font-size: 50px;
    margin-bottom: 5px;
}

.footer-top p{
    font-family: Roboto;
    font-size: 25px;
    margin-bottom: 10px;
}

.footer-top button{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 200px;
    padding: 10px;
    border-radius: 50px;

    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.footer-top button:hover{
    background-color: white;
}

.footer-top div{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 35px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
}

.footer-top div p{
    font-weight: bold;
    font-size: 16px;
    color: aliceblue;
    padding-bottom: 3px;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 100px;
}

.left-section{
    display: flex;
}

.right-section{
    display: flex;
    gap: 10px;
}

.left-section img{
    width: 30px;
    filter: brightness(0) invert(1);
}

.right-section img{
    width: 30px;
    filter: brightness(0) invert(1);
}
