#experience {
    width: 100%;
    height: 100%;
    padding-bottom: 200px;
    padding-top: 200px;
    margin-top: 150px;

    background-image: url(../../images/clouds-1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.experience-background-filter {
    background-color: rgba(0, 0, 0, 0.648);

    width: 80%;
    height: 90%;
    padding-bottom: 100px;

    border-radius: 80px;

    display: flex;
    flex-direction: column;
}

.experience-background-filter h1 {
    color: aliceblue;
    font-family: Roboto;

    font-size: 70px;
    width: 60%;
    align-self: center;
}

@media(max-width: 810px) {
    .experience-background-filter h1 {
        font-size: 30px;
    }
}

.experience {
    align-self: end;
    display: flex;
    flex-direction: column;
    align-items: left;

    color: aliceblue;
    font-family: Roboto;
    font-size: 25px;
    line-height: 50px;

    margin-right: 70px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: row wrap;
    justify-content: space-around;
    align-items: center;

    color: aliceblue;
    font-family: Roboto;
    font-size: 25px;
    line-height: 50px;

    width: 100%;
}

.education {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    color: aliceblue;
    font-family: Roboto;
    font-size: 25px;
    line-height: 50px;
    width: 100%;
    margin-top: 50px;

    margin-right: 70px;
}

.education p {
    font-size: 25px;
    line-height: 20px;
    font-weight: 400;
}

.education ul li {
    margin-left: 20px;
}

.skills h2,
.experience h2,
.education h2 {
    font-family: Roboto;
    font-size: 50px;
}

.education h2 {
    text-align: start;
}

.education div img {

    width: 500px;
    height: 500px;
}

.skills ul,
.experience ul li,
.education ol li {
    text-align: start;
}

.experience ul li {
    margin-left: 50px;
}