header{
    display: flex;
    justify-content: right;
    height: 58px;
    align-items: center;
    position: fixed;

    background-color: #060535;
    width: 100%;
    z-index: 200;
}

header ul {
    list-style-type: none;
    display: flex;
    align-items: bottom;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 100px;
}

header ul li {
    margin: 0 .4rem;
}

header ul li a {
    text-decoration: none;
    letter-spacing: 1px;
    font-family: Roboto;
    font-size: 20px;
    color: white;
    margin: 15px 10px;
    cursor: pointer;
}

header ul li a:hover {
    text-decoration: underline;
}

@media(max-width:540px) {

    header ul{
        flex-wrap: nowrap;
        margin-right: 0;
    }

    header ul li a {
        font-size: 11px;
        margin-left: 2px;
    }
}