header{
    display: flex;
    justify-content: right;
    height: 60px;
    overflow: hidden;
    z-index: 10;
    align-items: center;
    position: fixed;

    background: linear-gradient(270deg, #c546fc 0%, #3F5EFB 100%);
    width: 100%;
}

header ul {
    list-style-type: none;
    display: flex;
    align-items: bottom;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 100px;
}

header ul li a {
    text-decoration: none;
    letter-spacing: 1px;
    font-family: Roboto;
    font-size: 20px;
    color: white;
    margin: 15px;
    cursor: pointer;
}

header ul li a:hover {
    text-decoration: underline;
}

@media(max-width:540px) {

    header ul{
        flex-wrap: wrap;
        margin-right: 0;
    }

    header ul li a {
        font-size: 9px;
        font-weight: bold;
        margin-left: 1px;
    }
}
