#projects{

    width: 100%;
    height: 730px;

    background-image: url(../../images/fantasy-4063619_1920.jpg);
    background-position: 50% 67%;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-container{
    width: 60%;
    height: 40%;
    border-radius: 80px;

    background-color: rgb(220, 217, 217);
    filter: drop-shadow(0px 4px 4px black );

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media(max-width:1000px){
    .projects-container{
        flex-direction: column;
        height: 70%;
        padding: 20px;
    }
}


.projects-container img{
    width: 350px;
}

.projects-container div{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.projects-container div h3{
    font-family: PT Serif;
    font-weight: bold;
    font-size: 25px;

    margin: 0;
}

.projects-container div h4{
    font-family: PT Serif;
    font-weight: bold;
    font-size: 20px;
}

.projects-container div a{
    text-decoration: none;
    font-size: 25px;
}

.projects-container div a:hover{
    text-decoration: underline;
}

@media(max-width: 540px) {

    .projects-container{
        border-radius: 25px;
    }

    .projects-container img{
        width: 250px;
    }

    .projects-container div h3{
        font-size: 20px;
    }

    .projects-container div a{
        font-size: 14px;
    }

}
